body {
    font-family: 'Poppins', sans-serif;
    cursor: default;
}

#exemple{
    font-size: small;
    font-weight: 400;
}

#exemple:hover{
    color: #7373b1;
}

.btnn{
    color: rgba(245, 245, 245, 0.452);
    background-color: rgba(245, 245, 245, 0.103);
    border: none;
    text-decoration: none;
    font-weight: 600;
}

.btnn:hover{
    color: rgb(245, 245, 245);
    background-color: #7373b1;
}

#foot{
    font-size: small;
    font-weight: 300;
}

#scoreDisplay{
    font-weight: 600;
    font-size: 60px;
    margin-top: 3rem;
}

.nav-color{
    color: #e6e6fa;
}

.nav-color:hover{
    color: #7373b1;
}

#title-color:hover{
    color: #7373b1;
}